* {  
  box-sizing: border-box;
}
.icon-button {
  background: none;
  border: none;
  color: inherit;
}
.c-link{
  cursor: pointer;
}
.start-page{
  font-size: 30px;
  height: 100%;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
.left-panel {
  height: 100vh;
  position: relative;
  .button-group {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.no-border{
  border-radius: 0!important;
}
.right-panel{
  height: 100vh;
  position: relative;
  .CodeMirror-wrap{
    position: absolute;
    top: calc(40px + 49px);
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 40px);
  }
}

